<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>

<form action="/create" method="post">
    <label>First Name</label>
    <input type="text" name="first_name">
    <br>
    <label>Last Name</label>
    <input type="text" name="last_name">
    <br>
    <label>Instruments</label>
    <input type="text" name="instruments">
    <br><br>
    <input type="submit" value="submit">

</form>
<br>





</body>
</html>